* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
  /* border: 2px solid red; */
}
body{
  background-image: url(./assets/pexels-maxyne-barcel-10402282\ 1.png);
  background-color:#1A1E30;
  background-blend-mode: soft-light;
  background-size: cover;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.logo{
  position: absolute;
  top: 60px;
  left: 60px;
}
/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */

.bottom{
  position: absolute;
  bottom: 50px;
  right: 100px;
  scale: .7;
}
h1{
  display: flex;
  justify-content: center;
  margin-left: 15%;
  font-size: 80px;
  text-align: center;
  width: 800px;
  
  color: orange;
}
 .list{
  list-style: none;
  display: flex;
  justify-content: center;
}
.list-item{
  margin: 50px;
  color: orange;

}
.navbar{
  display: flex;
  flex-direction: row;
  margin-left: 300px;
}
.button-large{
  color: #fff;
  background-color: #ff505f;
  padding: 10px 35px;
  border: none;
  margin-top: 40px;
  margin-left: 550px;
  font-size: 30px;
}
.button-small{
  color: #fff;
  margin-top: 60px;
  background-color: #ff505f;
  padding: 10px 30px  ;
  border: none;
  justify-content: flex-start;
  margin-left: 200px;
}